

#btn {
    border-radius: 44px;
    width: 132px;
    height: 44px;
    color: rgb(245, 241, 248);
    background-color: blueviolet;
    padding: 2px;
    margin-top: 31px;
    border: 2px solid rgb(95, 6, 95);
}

#btn:hover{
border-radius: 44px;
background-color: white;
color: rgb(95, 6, 95);
border: 2px solid rgb(95, 6, 95);
}


#btn1 {
    border-radius: 44px;
    width: 250px;
    height: 55px;
    color: rgb(245, 241, 248);
    background-color: blueviolet;
    padding: 2px;
    margin-top: 31px;
}

#btn2 {
    border-radius: 44px;
    width: 250px;
    height: 55px;
    color: rgb(245, 241, 248);
    background-color: blueviolet;
    padding: 2px;
    margin-top: 31px;
    margin-left: -400px;
}


#cls1 {
    background-color: rgb(243, 243, 243);
}